//contact-info
.contact-info {
    padding: 107px 0 98px;
}
.single-contact-info {
    padding: 40px 0 50px;
    text-align: center;
    box-shadow: 3px 5.196px 50px 6px rgba( 37, 37, 37, .05 );
    .info-icon {
        i {
            background-color: #1574f6;
            color: #fff;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            line-height: 90px;
            font-size: 35px;
        }
    }
    .info-dec {
        h4 {
            font-size: 18px;
            color: #0d1f35;
            font-weight: 700;
            font-family: "Rubik";
            margin-top: 20px;
            margin-bottom: 18px;
        }
        p {
            font-size: 18px;
            color: #0d1f35;
            font-weight: 400;
            font-family: "Rubik";
            margin-bottom: 0;
        }
    }
}
@media all and (max-width: 768px) {
    .contact-info {
        padding: 70px 0 50px;
    }
    .single-contact-info {
        margin-bottom: 30px;
    }
}