//header-top
.header-top {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0 0;
    &.style-two {
        background-color: $secondary_color;
        border-bottom: none;
        padding: 15px 0;
        .info-content {
            color: $tertiary_color;
            margin-bottom: 0;
        }
        .header-top-info {
            .info-email {
                color: $tertiary_color;
            }
            .social-follow {
                span {
                    color: $tertiary_color;
                }
                a {
                    color: $tertiary_color;
                }

            }
        }
    }
    .info-content{
        font-family: $primary_font;
        font-size: 14px;
        font-weight: 400;
        color: $tenth_color;
    }
    .header-top-info {
        text-align: right;
    }
    .info-email {
        display: inline;
        font-family: $primary_font;
        font-size: 14px;
        font-weight: 400;
        color: $tenth_color;
        i {
            padding-right: 5px;
        }
    }
    .social-follow {
        display: inline;
        margin-left: 40px;
        span {
            font-family: $secondary_font;
            font-size: 14px;
            font-weight: 400;
            color: $tenth_color;
        }
        ul {
            display: inline;
            padding-left: 0;
            li {
                display: inline;
                a {
                    color: $tenth_color;
                    font-size: 14px;
                    padding: 0px 8px;
                    transition: all .3s ease;
                    &:hover {
                        color: $secondary_color;
                    }
                }
            }
        }
    }
}
@media all and (max-width:768px) {
    .header-top {
        text-align: center;
        padding-bottom: 10px;
        .header-top-info {
            text-align: center;
        }
        
    }
}
@media all and (max-width:425px) {
    .header-top {
        .social-follow {
            margin-left: 22px;
            ul {
                li {
                    a {
                        padding: 0px 5px;
                    }
                }
            }
        }
    }
}
// header-section
.header-section {
    padding: 32px 0 10px 0; 
    .header-right-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-search-area {
            flex-grow: 1;
            .header-input {
                margin-right: 0 !important;
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 25px;
                border-top-left-radius: 25px;
                padding-right: 35px;
                padding-left: 20px;
                border-color: $fortinth_color;
                flex-grow: 1;
                height: 50px;
                outline: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            .header-btn {
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 25px;
                border-top-right-radius: 25px;
                background-color: $secondary_color;
                color: $tertiary_color;
                border-color: $secondary_color !important;
                padding-right: 30px;
                width: 160px;
                height: 50px;
            }
        }
        .header-right-menu {
            ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding-left: 0;
                margin-left: 25px;
                li {
                    margin: 0;
                    a {
                        padding: 0 15px 0 20px;
                        & i {
                            color: $primary_color;
                            font-size: 20px;
                        }
                    }
        
                }
                .sales-cart {
                    position: relative;
                    .sold-item {
                        position: absolute;
                        left: 35px;
                        bottom: 15px;
                        background-color: $secondary_color;
                        border-radius: 50%;
                        height: 20px;
                        width: 20px;
                        text-align: center;
                        font-size: 14px;
                        color: $tertiary_color;
                    }
                    .sales-price {
                        font-family: $primary_font;
                        font-size: 15px;
                        font-weight: 500;
                        color: $fifth_color;
                    }
                }
            }
        
        }
    }
    &.style-two {
        padding: 20px 0 23px 0;
        .navbar {
            padding: 0;
            ul {
                margin-right: 0 !important;
                
            }
        }
        .header-right-menu {
            ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding-left: 0;
                li {
                    margin: 0;
                    a {
                        padding: 0 15px 0 20px !important;
                        & i {
                            color: $primary_color;
                            font-size: 20px;
                        }
                    }
        
                }
                .sales-cart {
                    position: relative;
                    .sold-item {
                        position: absolute;
                        left: 35px;
                        bottom: 15px;
                        background-color: $secondary_color;
                        border-radius: 50%;
                        height: 20px;
                        width: 20px;
                        text-align: center;
                        font-size: 14px;
                        color: $tertiary_color;
                    }
                    .sales-price {
                        font-family: $primary_font;
                        font-size: 15px;
                        font-weight: 500;
                        color: $fifth_color;
                    }
                }
            }
        
        }
    }
    &.style-three {
        padding: 20px 0;
        .navbar {
            padding: 0;
            
        }
        .header-right-area {
            margin-left: 25px;
            .header-search-area {
                .header-input {
                    border-radius: 0;
                }
                .header-btn {
                    border-radius: 0;
                }
            }
            .header-right-menu {
                ul {
                    margin-left: 0;
                    li {
                        .user-account {
                            font-family: $primary_font;
                            font-size: 15px;
                            font-weight: 500;
                            color: $fifth_color;
                        }
                    }
                }
            }
        }
    }
}
.main-menu {
    button {
        &:focus {
            outline: 2px solid #1574f6;
        }
        
    }
    &.style-two {
        .header-right-menu {
            ul {
                margin-left: 0;
            }
        }
    }
    &.style-three {
        .header-input {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;

        }
        .header-btn {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            padding: 6px 50px
        }
    }
    ul {
        li {
            margin: 0 10px;
            a {
                color: $fifth_color;
                text-transform: capitalize;
                font-family: $primary_font;
                font-size: 15px;
                font-weight: 500;
                padding: 10px;
                transition: all .3s ease;
                &:hover {
                    color: $secondary_color;
                }
            }
        }
    }
    .dropdown-toggle {
        position: relative;
        &::after {
            position: absolute;
            top: 20px;
        }
    }
}

@media all and (max-width:1440px) {
    .header-top {
       &.style-two {
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
       } 
    }
    .header-section {
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
        .header-right-area .header-search-area .header-btn {
            width: 100px;
        }
    }
}
@media all and (max-width:768px) {
    .header-section {
        &.style-two {
            .header-right-menu {
                display: none;
            }
        }
    }
}
@media all and (max-width:600px) {
    
}